<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File manager</title>
</head>
<body th:align="center">

<h1 th:text="'NODE NAME: '+${fayl.dir.getName}"></h1>
<table th:align="center">
    <tr>
        <td>
            <form th:if="${not fayl.isRoot and not fayl.isDisk}" method="post"
                  th:action="@{/(param=${fayl.dir.getParent})}">
                <button type="submit" class="backbtn">&#8678</button>
            </form>
            <form th:if="${fayl.isRoot and not fayl.isDisk}" method="post" th:action="@{/(param=root)}">
                <button type="submit">&#8678</button>
            </form>
        </td>
        <td>
            <h3 th:if="${not fayl.isDisk}" th:text="${fayl.dir.getAbsolutePath}"></h3>
            <h3 th:if="${fayl.isDisk}" th:text="''"></h3>
        </td>
    </tr>
</table>


<table th:align="center" border="1">
    <thead>
    <td><h3>TYPE</h3></td>
    <td><h3>NAME</h3></td>
    <td><h3>SIZE</h3></td>
    <td><h3>DATE CREATE</h3></td>
    <td><h3>DATE UPDATE</h3></td>

    </thead>
    <tr th:each="file:${fayl.myfiles}">
        <td th:text="${file.isDirectory}? '&#128193':'&#128196'"></td>
        <td th:if="${file.isDirectory}">
            <form method="post" th:action="@{/(param=${file.path})}">
                <button th:if="${not fayl.isDisk}" type="submit" th:text="${file.name}"
                        style="border: 0; cursor: pointer; padding: 0;background-color: transparent; color:blue; text-decoration: underline"></button>
                <button th:if="${fayl.isDisk}" type="submit" th:text="${file.path}"
                        style="border: 0; cursor: pointer; padding: 0;background-color: transparent; color:blue; text-decoration: underline"></button>
            </form>
        </td>
        <td th:if="${not file.isDirectory}" th:text="${file.name}"></td>

        <td th:text="${not file.isDirectory}? ${file.size}"></td>

        <td th:text="${file.dateCreate}"></td>

        <td th:text="${file.dateUpdate}"></td>

    </tr>
</table>
</body>
</html>